* {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(243, 249, 194);
    text-align: center;
    padding: 30px;
}

body {
    transform: scale(1.4);
}

input {
    border: 1px;
    border-style: dashed;
    border-radius: 2%;
    padding: 8px;
}

input:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    transform: scale(1.1);
}

button {
    border: 1px;
    border-style: dashed;
    padding: 8px;
    margin: 15px;
}

button:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);

}